# Data Cleaning Train

### **Imports:**

In [140]:
import numpy as np
import pandas as pd

In [141]:
train = pd.read_csv('../data/train.csv')

In [142]:
train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [143]:
train.columns = train.columns.str.lower().str.replace(' ', '_')
train.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

### **Binarize Columns:**

In [144]:
# Street: Type of road access to property
train['street'] = train['street'].map({'Grvl': 1, 'Pave': 0})


# CentralAir: Central air conditioning
train['central_air'] = train['central_air'].map({'Y': 1, 'N': 0})

### **Replacing missing values:**

In [145]:
# I am going to start replacing the missing values.

# lot frontage (in ft). If the lot frontage is missing, I am making the assumption that the property is on a larger piece of land on a back road and assigning it with 0.
train['lot_frontage'] = train['lot_frontage'].replace(np.NaN, 0).astype(float)

In [146]:
# alley access. If NA I am replacing with "None" so it can be dummied later
train['alley'] = train['alley'].replace(np.NaN, 'None').astype(str)

In [147]:
# Masonry type. Is missing I am going to put "None"
train['mas_vnr_type'] = train['mas_vnr_type'].replace(np.NaN, 'None').astype(str)

In [148]:
# Masonry veneer area in square feet. If missing, I am replacing it with 0 
# there is the same amount of types and area missing
train['mas_vnr_area'] = train['mas_vnr_area'].replace(np.NaN, 0).astype(float)

In [149]:
# Basement Qual. If NA I am replacing with "None" so it can be dummied later
train['bsmt_qual'] = train['bsmt_qual'].replace(np.NaN, 'None').astype(str)

In [150]:
# Basement Condition. If NA I am replacing with "None" so it can be dummied later
# there is the same amount of basement qual and condition missing
train['bsmt_cond'] = train['bsmt_cond'].replace(np.NaN, 'None').astype(str)

In [151]:
# Basement Exposure. If NA, I am replacing with NB for No Basement (since there already is "None)
train['bsmt_exposure'] = train['bsmt_exposure'].replace(np.NaN, 'NB').astype(str)

In [152]:
# Quality of basement type 1 & type 2. If NA, I am replacing with 'None'
train['bsmtfin_type_1'] = train['bsmtfin_type_1'].replace(np.NaN, 'None').astype(str)
train['bsmtfin_type_2'] = train['bsmtfin_type_2'].replace(np.NaN, 'None').astype(str)

In [153]:
# Basement type sq ft. If missing I am replacing with 0
train['bsmtfin_sf_1'] = train['bsmtfin_sf_1'].replace(np.NaN, 0).astype(float)
train['bsmtfin_sf_2'] = train['bsmtfin_sf_2'].replace(np.NaN, 0).astype(float)
train['bsmt_unf_sf'] = train['bsmt_unf_sf'].replace(np.NaN, 0).astype(float)
train['total_bsmt_sf'] = train['total_bsmt_sf'].replace(np.NaN, 0).astype(float)

In [154]:
# basement bathrooms. If missing I am replacing with 0
train['bsmt_full_bath'] = train['bsmt_full_bath'].replace(np.NaN, 0).astype(float)
train['bsmt_half_bath'] = train['bsmt_half_bath'].replace(np.NaN, 0).astype(float)

In [155]:
# FireplaceQu: Fireplace quality. If missing, I am replacing with none
train['fireplace_qu'] = train['fireplace_qu'].replace(np.NaN, 'None').astype(str)

In [156]:
# Garage type. If missing, I am replacing with none
train['garage_type'] = train['garage_type'].replace(np.NaN, 'None').astype(str)

In [157]:
# Garage year built. If missing, I am replacing with 0
train['garage_yr_blt'] = train['garage_yr_blt'].replace(np.NaN, 0).astype(float)

In [158]:
# Garage finish. If NA replacing with 'None'
train['garage_finish'] = train['garage_finish'].replace(np.NaN, 'None').astype(str)

In [159]:
# GarageCars: Size of garage in car capacity. If missing replacing with 0
train['garage_cars'] = train['garage_cars'].replace(np.NaN, 0).astype(float)

In [160]:
# GarageArea: Size of garage in square feet. If missing replacing with 0
train['garage_area'] = train['garage_area'].replace(np.NaN, 0).astype(float)

In [161]:
# GarageQual: Garage quality. If NA replacing with 'None'
train['garage_qual'] = train['garage_qual'].replace(np.NaN, 'None').astype(str)

In [162]:
# GarageCond: Garage condition. If NA replacing with 'None'
train['garage_cond'] = train['garage_cond'].replace(np.NaN, 'None').astype(str)

In [163]:
# Pool QC. If NA replacing with 'None'
train['pool_qc'] = train['pool_qc'].replace(np.NaN, 'None').astype(str)

In [164]:
# Fence. If NA replacing with 'None'
train['fence'] = train['fence'].replace(np.NaN, 'None').astype(str)

In [165]:
# Misc Feature. If NA replacing with 'None'
train['misc_feature'] = train['misc_feature'].replace(np.NaN, 'None').astype(str)

In [166]:
train.isna().sum()

id              0
pid             0
ms_subclass     0
ms_zoning       0
lot_frontage    0
               ..
misc_val        0
mo_sold         0
yr_sold         0
sale_type       0
saleprice       0
Length: 81, dtype: int64

In [167]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2051 non-null   int64
 1   pid              2051 non-null   int64
 2   ms_subclass      2051 non-null   int64
 3   ms_zoning        2051 non-null   object
 4   lot_frontage     2051 non-null   float64
 5   lot_area         2051 non-null   int64
 6   street           2051 non-null   int64
 7   alley            2051 non-null   object
 8   lot_shape        2051 non-null   object
 9   land_contour     2051 non-null   object
 10  utilities        2051 non-null   object
 11  lot_config       2051 non-null   object
 12  land_slope       2051 non-null   object
 13  neighborhood     2051 non-null   object
 14  condition_1      2051 non-null   object
 15  condition_2      2051 non-null   object
 16  bldg_type        2051 non-null   object
 17  house_style      2051 non-null   object
 18  overall_qual     2051 non-null   int64
 19  overall_cond     2051 non-null   int64
 20  year_built       2051 non-null   int64
 21  year_remod/add   2051 non-null   int64
 22  roof_style       2051 non-null   object
 23  roof_matl        2051 non-null   object
 24  exterior_1st     2051 non-null   object
 25  exterior_2nd     2051 non-null   object
 26  mas_vnr_type     2051 non-null   object
 27  mas_vnr_area     2051 non-null   float64
 28  exter_qual       2051 non-null   object
 29  exter_cond       2051 non-null   object
 30  foundation       2051 non-null   object
 31  bsmt_qual        2051 non-null   object
 32  bsmt_cond        2051 non-null   object
 33  bsmt_exposure    2051 non-null   object
 34  bsmtfin_type_1   2051 non-null   object
 35  bsmtfin_sf_1     2051 non-null   float64
 36  bsmtfin_type_2   2051 non-null   object
 37  bsmtfin_sf_2     2051 non-null   float64
 38  bsmt_unf_sf      2051 non-null   float64
 39  total_bsmt_sf    2051 non-null   float64
 40  heating          2051 non-null   object
 41  heating_qc       2051 non-null   object
 42  central_air      2051 non-null   int64
 43  electrical       2051 non-null   object
 44  1st_flr_sf       2051 non-null   int64
 45  2nd_flr_sf       2051 non-null   int64
 46  low_qual_fin_sf  2051 non-null   int64
 47  gr_liv_area      2051 non-null   int64
 48  bsmt_full_bath   2051 non-null   float64
 49  bsmt_half_bath   2051 non-null   float64
 50  full_bath        2051 non-null   int64
 51  half_bath        2051 non-null   int64
 52  bedroom_abvgr    2051 non-null   int64
 53  kitchen_abvgr    2051 non-null   int64
 54  kitchen_qual     2051 non-null   object
 55  totrms_abvgrd    2051 non-null   int64
 56  functional       2051 non-null   object
 57  fireplaces       2051 non-null   int64
 58  fireplace_qu     2051 non-null   object
 59  garage_type      2051 non-null   object
 60  garage_yr_blt    2051 non-null   float64
 61  garage_finish    2051 non-null   object
 62  garage_cars      2051 non-null   float64
 63  garage_area      2051 non-null   float64
 64  garage_qual      2051 non-null   object
 65  garage_cond      2051 non-null   object
 66  paved_drive      2051 non-null   object
 67  wood_deck_sf     2051 non-null   int64
 68  open_porch_sf    2051 non-null   int64
 69  enclosed_porch   2051 non-null   int64
 70  3ssn_porch       2051 non-null   int64
 71  screen_porch     2051 non-null   int64
 72  pool_area        2051 non-null   int64
 73  pool_qc          2051 non-null   object
 74  fence            2051 non-null   object
 75  misc_feature     2051 non-null   object
 76  misc_val         2051 non-null   int64
 77  mo_sold          2051 non-null   int64
 78  yr_sold          2051 non-null   int64
 79  sale_type        2051 non-null   object
 80  saleprice        2051 non-null   int64
dtypes: float64(11), int64(30), object(40)
memory usage: 1.3+ MB

In [168]:
train.head(50)

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,533352170,60,RL,0.0,13517,0,None,IR1,Lvl,...,0,0,None,None,None,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,0,None,IR1,Lvl,...,0,0,None,None,None,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,0,None,Reg,Lvl,...,0,0,None,None,None,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,0,None,Reg,Lvl,...,0,0,None,None,None,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,0,None,IR1,Lvl,...,0,0,None,None,None,0,3,2010,WD,138500
5,138,535126040,20,RL,137.0,16492,0,None,IR1,Lvl,...,0,0,None,None,None,0,6,2010,WD,190000
6,2827,908186070,180,RM,35.0,3675,0,None,Reg,Lvl,...,0,0,None,None,None,0,6,2006,New,140000
7,145,535154050,20,RL,0.0,12160,0,None,IR1,Lvl,...,0,0,None,MnPrv,None,0,5,2010,COD,142000
8,1942,535353130,20,RL,0.0,15783,0,None,Reg,Lvl,...,0,0,None,MnPrv,Shed,400,6,2007,WD,112500
9,1956,535426130,60,RL,70.0,11606,0,None,IR1,HLS,...,0,0,None,None,None,0,9,2007,WD,135000
10,1044,527451290,160,RM,21.0,1680,0,None,Reg,Lvl,...,0,0,None,None,None,0,7,2008,COD,85400
11,2752,906380150,20,RL,64.0,7488,0,None,IR1,Lvl,...,0,0,None,None,None,0,2,2006,WD,183600
12,807,906226060,70,RL,120.0,26400,0,None,Reg,Bnk,...,0,0,None,None,None,0,6,2009,WD,131000
13,1177,533236070,160,FV,24.0,2645,0,Pave,Reg,Lvl,...,0,0,None,None,None,0,12,2008,ConLD,200000
14,1480,907418040,20,RL,74.0,9627,0,None,Reg,Lvl,...,0,0,None,None,None,0,6,2008,WD,193000
15,324,923202105,20,RL,93.0,10114,0,None,Reg,Lvl,...,0,0,None,None,None,0,3,2010,WD,173500
16,1311,902301140,70,RM,34.0,4571,0,Grvl,Reg,Lvl,...,0,0,None,None,None,0,5,2008,COD,98000
17,770,905101490,20,RL,80.0,8816,0,None,Reg,Lvl,...,0,0,None,MnPrv,None,0,6,2009,WD,139000
18,2063,905107140,20,RL,71.0,8197,0,None,Reg,Lvl,...,0,0,None,MnPrv,None,0,4,2007,WD,143500
19,69,528458070,60,FV,72.0,8640,0,None,Reg,Lvl,...,0,0,None,None,None,0,6,2010,Con,215200
20,2062,905106150,20,RL,109.0,8724,0,None,Reg,Lvl,...,0,0,None,None,None,0,5,2007,WD,129000
21,351,527131030,120,RL,40.0,5664,0,None,IR1,Lvl,...,0,0,None,None,None,0,10,2009,WD,278000
22,2393,528142010,60,RL,103.0,12867,0,None,IR1,Lvl,...,0,0,None,None,None,0,7,2006,New,344133
23,12,527165230,20,RL,0.0,7980,0,None,IR1,Lvl,...,0,0,None,GdPrv,Shed,500,3,2010,WD,185000
24,2339,527250040,190,RL,100.0,34650,0,None,Reg,Bnk,...,0,0,None,None,None,0,1,2006,WD,145000
25,624,535104120,20,RL,92.0,10573,0,None,IR1,Lvl,...,288,0,None,GdPrv,None,0,4,2009,WD,187500
26,86,532376160,20,RL,65.0,8450,0,None,Reg,Lvl,...,0,0,None,MnPrv,None,0,4,2010,WD,138500
27,1534,909277040,50,RL,0.0,11700,0,Grvl,IR1,HLS,...,0,0,None,None,None,0,7,2008,WD,198000
28,2243,911103060,190,C (all),75.0,8250,0,None,Reg,Lvl,...,0,0,None,None,None,0,6,2007,WD,119600
29,1957,535450190,50,RL,60.0,8064,0,None,Reg,Lvl,...,0,0,None,MnPrv,Shed,2000,7,2007,WD,122900
30,380,527355150,20,RL,80.0,9600,0,None,Reg,Lvl,...,0,0,None,MnPrv,None,0,7,2009,WD,278000
31,2860,909276010,70,RL,0.0,11435,0,None,IR1,HLS,...,0,0,None,None,None,0,6,2006,WD,230000
32,2517,533250130,120,RL,30.0,9549,0,None,IR1,Lvl,...,216,0,None,None,None,0,4,2006,WD,270000
33,1933,535302070,20,RL,60.0,10950,0,None,Reg,Lvl,...,0,0,None,None,None,0,4,2007,WD,125000
34,820,906340110,20,RL,79.0,10637,0,None,Reg,Lvl,...,0,0,None,None,None,0,9,2009,WD,297000
35,675,535426150,20,RL,80.0,9000,0,None,IR1,HLS,...,0,0,None,None,None,0,4,2009,WD,113500
36,2910,923225240,160,RM,41.0,2665,0,None,Reg,Lvl,...,0,0,None,None,None,0,7,2006,WD,127000
37,21,527358140,20,RL,105.0,11751,0,None,IR1,Lvl,...,0,0,None,MnPrv,None,0,1,2010,COD,190000
38,1873,534177210,20,RL,80.0,9600,0,None,Reg,Lvl,...,0,0,None,None,None,0,9,2007,WD,175500
39,2125,907135050,20,RL,60.0,8428,0,None,IR2,Lvl,...,0,0,None,None,None,0,7,2007,WD,146000
40,1489,908102260,20,RL,75.0,9937,0,None,Reg,Lvl,...,0,0,None,None,None,0,6,2008,WD,147500
41,2383,528110050,20,RL,107.0,13891,0,None,Reg,Lvl,...,0,0,None,None,None,0,9,2006,New,465000
42,983,923275040,85,RL,0.0,9101,0,None,IR1,Lvl,...,0,0,None,None,None,0,7,2009,WD,165500
43,1325,902406090,50,RM,81.0,12150,0,Grvl,Reg,Lvl,...,0,0,None,None,None,0,11,2008,WD,131500
44,1378,905102170,20,RL,70.0,11200,0,None,Reg,Lvl,...,0,0,None,None,None,0,2,2008,WD,129500
45,1537,909281110,70,RL,100.0,9670,0,None,IR1,HLS,...,0,0,None,None,None,0,6,2008,WD,257076
46,905,909101140,50,RL,60.0,10998,0,Grvl,Reg,Lvl,...,0,0,None,None,None,0,7,2009,WD,117000
47,1532,909275050,70,RL,60.0,7200,0,None,Reg,HLS,...,0,0,None,MnPrv,None,0,2,2008,WD,149000
48,132,534475100,20,RL,80.0,9920,0,None,Reg,Lvl,...,0,0,None,MnPrv,None,0,2,2010,WD,128000
49,1078,528188090,160,RL,36.0,2448,0,None,Reg,Lvl,...,0,0,None,None,None,0,10,2008,WD,155000

### **Save clean csv:**

In [169]:
# train.to_csv('clean_train.csv')

# Data Cleaning Test

In [170]:
test = pd.read_csv('../data/test.csv')

In [171]:
test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [172]:
test.columns = test.columns.str.lower().str.replace(' ', '_')
test.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,3ssn_porch,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [173]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               878 non-null    int64
 1   pid              878 non-null    int64
 2   ms_subclass      878 non-null    int64
 3   ms_zoning        878 non-null    object
 4   lot_frontage     718 non-null    float64
 5   lot_area         878 non-null    int64
 6   street           878 non-null    object
 7   alley            58 non-null     object
 8   lot_shape        878 non-null    object
 9   land_contour     878 non-null    object
 10  utilities        878 non-null    object
 11  lot_config       878 non-null    object
 12  land_slope       878 non-null    object
 13  neighborhood     878 non-null    object
 14  condition_1      878 non-null    object
 15  condition_2      878 non-null    object
 16  bldg_type        878 non-null    object
 17  house_style      878 non-null    object
 18  overall_qual     878 non-null    int64
 19  overall_cond     878 non-null    int64
 20  year_built       878 non-null    int64
 21  year_remod/add   878 non-null    int64
 22  roof_style       878 non-null    object
 23  roof_matl        878 non-null    object
 24  exterior_1st     878 non-null    object
 25  exterior_2nd     878 non-null    object
 26  mas_vnr_type     877 non-null    object
 27  mas_vnr_area     877 non-null    float64
 28  exter_qual       878 non-null    object
 29  exter_cond       878 non-null    object
 30  foundation       878 non-null    object
 31  bsmt_qual        853 non-null    object
 32  bsmt_cond        853 non-null    object
 33  bsmt_exposure    853 non-null    object
 34  bsmtfin_type_1   853 non-null    object
 35  bsmtfin_sf_1     878 non-null    int64
 36  bsmtfin_type_2   853 non-null    object
 37  bsmtfin_sf_2     878 non-null    int64
 38  bsmt_unf_sf      878 non-null    int64
 39  total_bsmt_sf    878 non-null    int64
 40  heating          878 non-null    object
 41  heating_qc       878 non-null    object
 42  central_air      878 non-null    object
 43  electrical       877 non-null    object
 44  1st_flr_sf       878 non-null    int64
 45  2nd_flr_sf       878 non-null    int64
 46  low_qual_fin_sf  878 non-null    int64
 47  gr_liv_area      878 non-null    int64
 48  bsmt_full_bath   878 non-null    int64
 49  bsmt_half_bath   878 non-null    int64
 50  full_bath        878 non-null    int64
 51  half_bath        878 non-null    int64
 52  bedroom_abvgr    878 non-null    int64
 53  kitchen_abvgr    878 non-null    int64
 54  kitchen_qual     878 non-null    object
 55  totrms_abvgrd    878 non-null    int64
 56  functional       878 non-null    object
 57  fireplaces       878 non-null    int64
 58  fireplace_qu     456 non-null    object
 59  garage_type      834 non-null    object
 60  garage_yr_blt    833 non-null    float64
 61  garage_finish    833 non-null    object
 62  garage_cars      878 non-null    int64
 63  garage_area      878 non-null    int64
 64  garage_qual      833 non-null    object
 65  garage_cond      833 non-null    object
 66  paved_drive      878 non-null    object
 67  wood_deck_sf     878 non-null    int64
 68  open_porch_sf    878 non-null    int64
 69  enclosed_porch   878 non-null    int64
 70  3ssn_porch       878 non-null    int64
 71  screen_porch     878 non-null    int64
 72  pool_area        878 non-null    int64
 73  pool_qc          4 non-null      object
 74  fence            172 non-null    object
 75  misc_feature     41 non-null     object
 76  misc_val         878 non-null    int64
 77  mo_sold          878 non-null    int64
 78  yr_sold          878 non-null    int64
 79  sale_type        878 non-null    object
dtypes: float64(3), int64(35), object(42)
memory usage: 548.9+ KB

### **Binarize Columns:**

In [174]:
# Street: Type of road access to property
test['street'] = test['street'].map({'Grvl': 1, 'Pave': 0})


# CentralAir: Central air conditioning
test['central_air'] = test['central_air'].map({'Y': 1, 'N': 0})

In [175]:
test['street'].value_counts()

0    873
1      5
Name: street, dtype: int64

In [176]:
test['central_air'].value_counts()

1    823
0     55
Name: central_air, dtype: int64

### **Replacing missing values:**

In [177]:
# lot frontage (in ft). If the lot frontage is missing, I am making the assumption that the property is on a larger piece of land on a back road and assigning it with 0.
test['lot_frontage'] = test['lot_frontage'].replace(np.NaN, 0).astype(float)

In [178]:
# alley access. If NA I am replacing with "None" so it can be dummied later
test['alley'] = test['alley'].replace(np.NaN, 'None').astype(str)

In [179]:

# Masonry type. Is missing I am going to put "None"
test['mas_vnr_type'] = test['mas_vnr_type'].replace(np.NaN, 'None').astype(str)

In [180]:
# Masonry veneer area in square feet. If missing, I am replacing it with 0 
# there is the same amount of types and area missing
test['mas_vnr_area'] = test['mas_vnr_area'].replace(np.NaN, 0).astype(float)

In [181]:
# Basement Qual. If NA I am replacing with "None" so it can be dummied later
test['bsmt_qual'] = test['bsmt_qual'].replace(np.NaN, 'None').astype(str)

In [182]:
# Basement Condition. If NA I am replacing with "None" so it can be dummied later
# there is the same amount of basement qual and condition missing
test['bsmt_cond'] = test['bsmt_cond'].replace(np.NaN, 'None').astype(str)

In [183]:
# Basement Exposure. If NA, I am replacing with NB for No Basement (since there already is "None)
test['bsmt_exposure'] = test['bsmt_exposure'].replace(np.NaN, 'NB').astype(str)

In [184]:
# Quality of basement type 1 & type 2. If NA, I am replacing with 'None'
test['bsmtfin_type_1'] = test['bsmtfin_type_1'].replace(np.NaN, 'None').astype(str)
test['bsmtfin_type_2'] = test['bsmtfin_type_2'].replace(np.NaN, 'None').astype(str)

In [185]:
# electrical
test['electrical'] = test['electrical'].replace(np.NaN, 'Mix').astype(str)

In [186]:
# FireplaceQu: Fireplace quality. If missing, I am replacing with none
test['fireplace_qu'] = test['fireplace_qu'].replace(np.NaN, 'None').astype(str)

In [187]:
# Garage type. If missing, I am replacing with none
test['garage_type'] = test['garage_type'].replace(np.NaN, 'None').astype(str)

In [188]:
# Garage year built. If missing, I am replacing with 0
test['garage_yr_blt'] = test['garage_yr_blt'].replace(np.NaN, 0).astype(float)

In [189]:
# Garage finish. If NA replacing with 'None'
test['garage_finish'] = test['garage_finish'].replace(np.NaN, 'None').astype(str)

In [190]:
# GarageQual: Garage quality. If NA replacing with 'None'
test['garage_qual'] = test['garage_qual'].replace(np.NaN, 'None').astype(str)

In [191]:
# GarageCond: Garage condition. If NA replacing with 'None'
test['garage_cond'] = test['garage_cond'].replace(np.NaN, 'None').astype(str)

In [192]:
# Pool QC. If NA replacing with 'None'
test['pool_qc'] = test['pool_qc'].replace(np.NaN, 'None').astype(str)

In [193]:
# Fence. If NA replacing with 'None'
test['fence'] = test['fence'].replace(np.NaN, 'None').astype(str)

In [194]:
# Misc Feature. If NA replacing with 'None'
test['misc_feature'] = test['misc_feature'].replace(np.NaN, 'None').astype(str)

In [195]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               878 non-null    int64
 1   pid              878 non-null    int64
 2   ms_subclass      878 non-null    int64
 3   ms_zoning        878 non-null    object
 4   lot_frontage     878 non-null    float64
 5   lot_area         878 non-null    int64
 6   street           878 non-null    int64
 7   alley            878 non-null    object
 8   lot_shape        878 non-null    object
 9   land_contour     878 non-null    object
 10  utilities        878 non-null    object
 11  lot_config       878 non-null    object
 12  land_slope       878 non-null    object
 13  neighborhood     878 non-null    object
 14  condition_1      878 non-null    object
 15  condition_2      878 non-null    object
 16  bldg_type        878 non-null    object
 17  house_style      878 non-null    object
 18  overall_qual     878 non-null    int64
 19  overall_cond     878 non-null    int64
 20  year_built       878 non-null    int64
 21  year_remod/add   878 non-null    int64
 22  roof_style       878 non-null    object
 23  roof_matl        878 non-null    object
 24  exterior_1st     878 non-null    object
 25  exterior_2nd     878 non-null    object
 26  mas_vnr_type     878 non-null    object
 27  mas_vnr_area     878 non-null    float64
 28  exter_qual       878 non-null    object
 29  exter_cond       878 non-null    object
 30  foundation       878 non-null    object
 31  bsmt_qual        878 non-null    object
 32  bsmt_cond        878 non-null    object
 33  bsmt_exposure    878 non-null    object
 34  bsmtfin_type_1   878 non-null    object
 35  bsmtfin_sf_1     878 non-null    int64
 36  bsmtfin_type_2   878 non-null    object
 37  bsmtfin_sf_2     878 non-null    int64
 38  bsmt_unf_sf      878 non-null    int64
 39  total_bsmt_sf    878 non-null    int64
 40  heating          878 non-null    object
 41  heating_qc       878 non-null    object
 42  central_air      878 non-null    int64
 43  electrical       878 non-null    object
 44  1st_flr_sf       878 non-null    int64
 45  2nd_flr_sf       878 non-null    int64
 46  low_qual_fin_sf  878 non-null    int64
 47  gr_liv_area      878 non-null    int64
 48  bsmt_full_bath   878 non-null    int64
 49  bsmt_half_bath   878 non-null    int64
 50  full_bath        878 non-null    int64
 51  half_bath        878 non-null    int64
 52  bedroom_abvgr    878 non-null    int64
 53  kitchen_abvgr    878 non-null    int64
 54  kitchen_qual     878 non-null    object
 55  totrms_abvgrd    878 non-null    int64
 56  functional       878 non-null    object
 57  fireplaces       878 non-null    int64
 58  fireplace_qu     878 non-null    object
 59  garage_type      878 non-null    object
 60  garage_yr_blt    878 non-null    float64
 61  garage_finish    878 non-null    object
 62  garage_cars      878 non-null    int64
 63  garage_area      878 non-null    int64
 64  garage_qual      878 non-null    object
 65  garage_cond      878 non-null    object
 66  paved_drive      878 non-null    object
 67  wood_deck_sf     878 non-null    int64
 68  open_porch_sf    878 non-null    int64
 69  enclosed_porch   878 non-null    int64
 70  3ssn_porch       878 non-null    int64
 71  screen_porch     878 non-null    int64
 72  pool_area        878 non-null    int64
 73  pool_qc          878 non-null    object
 74  fence            878 non-null    object
 75  misc_feature     878 non-null    object
 76  misc_val         878 non-null    int64
 77  mo_sold          878 non-null    int64
 78  yr_sold          878 non-null    int64
 79  sale_type        878 non-null    object
dtypes: float64(3), int64(37), object(40)
memory usage: 548.9+ KB

In [196]:
test.head(25)

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,3ssn_porch,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type
0,2658,902301120,190,RM,69.0,9142,0,Grvl,Reg,Lvl,...,0,0,0,None,None,None,0,4,2006,WD
1,2718,905108090,90,RL,0.0,9662,0,None,IR1,Lvl,...,0,0,0,None,None,None,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,0,None,IR1,Lvl,...,0,0,0,None,None,None,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,0,None,Reg,Lvl,...,0,0,0,None,None,None,0,7,2007,WD
4,625,535105100,20,RL,0.0,9500,0,None,IR1,Lvl,...,0,185,0,None,None,None,0,7,2009,WD
5,333,923228370,160,RM,21.0,1890,0,None,Reg,Lvl,...,0,0,0,None,None,None,0,6,2010,WD
6,1327,902427150,20,RM,52.0,8516,0,None,Reg,Lvl,...,0,0,0,None,None,None,0,5,2008,WD
7,858,907202130,20,RL,0.0,9286,0,None,IR1,Lvl,...,0,0,0,None,None,None,0,10,2009,WD
8,95,533208090,160,FV,39.0,3515,0,Pave,Reg,Lvl,...,0,0,0,None,None,None,0,1,2010,WD
9,1568,914476010,20,RL,75.0,10125,0,None,Reg,Lvl,...,0,0,0,None,MnPrv,None,0,2,2008,WD
10,2482,531452100,120,RL,50.0,7175,0,None,Reg,Lvl,...,0,0,0,None,None,None,0,6,2006,WD
11,1364,903455140,30,RM,60.0,7200,0,None,Reg,Lvl,...,0,0,0,None,None,None,0,7,2008,WD
12,2584,535303050,20,RL,75.0,11310,0,None,Reg,Lvl,...,0,0,0,None,None,None,0,6,2006,WD
13,818,906230030,90,RL,0.0,7976,0,None,Reg,Lvl,...,0,0,0,None,None,None,0,10,2009,WD
14,2673,903206160,70,RL,69.0,11737,0,None,IR1,Bnk,...,0,0,0,None,GdPrv,None,0,5,2006,WD
15,2089,905480180,20,RL,60.0,9060,0,None,Reg,Lvl,...,180,0,0,None,MnPrv,None,0,6,2007,WD
16,1297,902128150,190,RM,60.0,10800,0,Grvl,Reg,Lvl,...,0,0,0,None,None,None,0,5,2008,Con
17,790,905451300,20,RL,68.0,9571,0,None,Reg,Lvl,...,0,0,0,None,GdPrv,None,0,2,2009,WD
18,2616,535425040,20,RL,80.0,10800,0,None,Reg,Lvl,...,0,144,0,None,None,None,0,8,2006,WD
19,720,902330040,70,RM,121.0,17671,0,Grvl,Reg,Lvl,...,0,0,0,None,None,None,0,11,2009,WD
20,222,905105070,20,RL,0.0,8246,0,None,IR1,Lvl,...,0,0,0,None,MnPrv,None,0,5,2010,WD
21,557,532354160,20,RL,0.0,8499,0,None,IR1,Lvl,...,0,0,0,None,None,None,0,6,2009,WD
22,1148,531451020,120,RL,50.0,8012,0,None,Reg,Lvl,...,0,0,0,None,None,None,0,7,2008,WD
23,2766,906475050,80,RL,0.0,21453,0,None,IR1,Low,...,130,0,0,None,None,None,0,10,2006,WD
24,534,531363010,20,RL,80.0,9605,0,None,Reg,Lvl,...,0,0,0,None,None,None,0,4,2009,WD

### **Save clean csv:**

In [90]:
# test.to_csv('clean_test.csv')